<form class="form-signin">
  <div class='app-icon'>
    <i class="fa fa-address-book fa-5x"></i>
  </div>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <div class="mb-3"><a href="#"> Click here to register</a></div>
</form>