<form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">
  <div class='app-icon'>
    <i class="fa fa-address-book fa-5x"></i>
  </div>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name='username' class="form-control" 
    placeholder="Email address" required="" autofocus="" [(ngModel)]="model.username">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name='password' class="form-control" 
    placeholder="Password" required="" [(ngModel)]="model.password">
  
  <button [disabled]='!loginForm.valid' class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <div class="mb-3"><a href="#"> Click here to register</a></div>
</form>