

.form-signup input { margin-bottom: 2px;}
.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.social-login {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 14px;
}
.social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
}
.facebook-btn {
    background-color: #3C589C;
}
.google-btn {
    background-color: #DF4B3B;
}
.register-success {
    color: green;
}