<div class="container">
    <div *ngIf="isShowContactList" class="category-list-container">
        <button type="button" class="btn btn-primary mr-3" (click)="hideContactList(null)" >Add new contact</button> 
        <button *ngIf="!isNoData" type="button" class="btn btn-primary" (click)="exportToCsv()" >Export To Csv</button>        
        <hr/>
        <div *ngIf="!isNoData" class="row">
            <table  class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th>Category</th>
                        <th></th>                                         
                    </tr>
                </thead>
                <tbody>
  
                    <tr *ngFor="let contact of contacts;">
                        <td>{{contact.name}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.address}}</td>
                        <td>{{contact.mobile}}</td>
                        <td>{{contact.category}}</td>
                        <td><span class="edit-icon" (click)="hideContactList(contact)" id="{{contact.id}}"><i class="fa fa-pencil"></i></span>
                        </td>                                       
                    </tr>
  
                </tbody>
            </table>
            <div *ngIf="!isNoData" class="d-flex justify-content-center">
                <pagination [boundaryLinks]="true" 
                            [totalItems]="totalCount"
                            [itemsPerPage]="pageSize"
                            [(ngModel)]="pageIndex"
                            (pageChanged)="pageChanged($event)"
                            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                
                </pagination>
            </div>
        </div>
    </div>
    <div *ngIf="!isShowContactList" class="category-form-container">
        <form #registerForm="ngForm" (ngSubmit)="saveCategory()" class="form-sec">
            <div class="action-panel mb-3">
                <button class="btn btn-primary" type="submit"> Save</button>
                <button class="btn btn-default" type="button" (click)="showContactList()">Cancel</button>
            </div>
            <br/>
            <input type="hidden" name="id" [(ngModel)]="model.id">            
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" required class="form-control" 
                   [(ngModel)]="model.name" placeholder="Name" autofocus="">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="email" required class="form-control" 
                   [(ngModel)]="model.email" placeholder="Email" autofocus="">
            </div>  
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" name="address" required class="form-control" 
                     [(ngModel)]="model.address" placeholder="Address" autofocus="">
            </div> 
             <div class="form-group">
                  <label for="mobile">Mobile</label>
                  <input type="text" name="mobile" required class="form-control" 
                       [(ngModel)]="model.mobile" placeholder="Mobile" autofocus="">
             </div> 
             <div class="form-group">
                <label for="category">Category</label>
                
                <mat-form-field class="">
                        <input type="text" name="category" required class="form-control" matInput [formControl]="myControl" [matAutocomplete]="auto"  
                        [(ngModel)]="model.categoryId" placeholder="Category" autofocus="">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
             </div> 

        
            
        </form>
    </div>
</div>